In [26]:
#lets start with variable and type of variables and Strings
var1 = 12
var2 = "Joy"
var3 = var2 + " and Happiness"
var4 = 45
var5 = var1 + var4
var6 = 33
var7 = var1 + var4 + var6 + 55
var8 = " "
var9 = "is good for health"
var10 = var3 + var8 + var9
var11 = "Hello" + " " + "World"

In [15]:
var2 #variable of a string

'Joy'

In [16]:
var3 #var of sum of var of string with a string

'Joy and Happiness'

In [17]:
var5 #var sum of variables which contain numbers

57

In [18]:
var7 #var of

145

In [21]:
var10 #var of sum of varibales having different strings

'Joy and Happiness is good for health'

In [29]:
#mathematical expressions (+,-,/,*,-=,+=,*=,/=,**,//,%)
a = 3*5
a

15

In [31]:
a**3 # (15^3 or 15 power 3)

3375

In [32]:
b = 3
b += 3 #increment operator
b

6

In [33]:
b -=3 #decrement operator
b

3

In [34]:
b *= 3 #multiple by 3
b /= 3 #divide by 3 wich returns float value
b

3.0

In [37]:
c = 2
a // c # // returns floor value i.e 15/2 = 7.5 (floor is 7)

7

In [38]:
d = 9%3 # modul0 (%) operator returns remainder
d

0

In [45]:
#pemdas rule for precendence of math expression i.e parenthesis,exponential,multiply,divide,addition and then substration
x = 3+5*3-(4*5)+5**5/2-(52-2)
x

1510.5

In [49]:
# Conditional Statements (if/else)
num = int(input("Enter a number: "))
if num == 30:
    print("you got it!")
else:
    print("better luck next time")

Enter a number: 30
you got it!

In [50]:
num = int(input("Enter a number: "))
if num == 30:
    print("you got it!")
else:
    print("better luck next time")

Enter a number: 40
better luck next time

In [5]:
# Single if/else statement
obt_marks = 20
req_marks = 30
if obt_marks == req_marks:
    print("Congratulations! you are passed.")
else:
    print("Sorry! Do better next time.")

Sorry! Do better next time.

In [8]:
# Multiple if/else statement
obt_marks = 30
req_marks = 30
if obt_marks > req_marks:
    print("Congratulations! you did a great job.")
elif obt_marks == req_marks:
    print("Congratulations! you are passed.")    
else:
    print("Sorry! Do better next time.")

Congratulations! you are passed.

In [26]:
# Nested if/else statement
name = "Abeer"
obt_marks = 35
req_marks = 30
if name == "Ahmed":
    if obt_marks > req_marks:
        print("Congratulations! you did a great job.")
    elif obt_marks == req_marks:
        print("Congratulations! you are passed.")    
    else:
        print("Sorry! Do better next time.")
elif name == "Ali":
    if obt_marks > req_marks:
        print("Congratulations! you did a great job.")
    elif obt_marks == req_marks:
        print("Congratulations! you are passed.")    
    else:
        print("Sorry! Do better next time.")
else:
    print("Invalid Username:", name)

Invalid Username: Abeer

In [30]:
# shorthand if/else statements or conditional statements compehension
a = 10
b = 20
c = 30
if a <= b: print("Cogratulations!")

Cogratulations!

In [31]:
a = 10
b = 20
c = 30
print("Cogratulations!") if a>=b else print("Sorry")

Sorry

In [33]:
# example with logical operators (and/or)
a = 10
b = 20
c = 30
print("Cogratulations!") if a<=b and b==c  else print("Sorry")

Sorry

In [42]:
a = 10
b = 20
c = 30
print("Cogratulations!") if a<=b or b==c  else print("Sorry")

Cogratulations!